<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>404 not found</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<main>
    <div class="container">
        <div class="row">
            <div class="col-md-6 align-self-center">
                <h1>404</h1>
                <h2>UH OH! You're lost.</h2>
                <p>The page you are looking for does not exist.
                    How you got here is a mystery. But you can click the button below
                    to go back to the homepage.
                </p>
                <button class="btn green">HOME</button>
            </div>
        </div>
    </div>
</main>
    <script th:src="@{/js/index.js}"/>
</body>
</html>